<title>/{{board}}/ - RikChan</title>
<form action = "/{{board}}/" method = "post" enctype=multipart/form-data><body style="background-color:#FFFFF0">
         <body>
          <center>
        <h1>/{{board}}/</h1>
        <p1>{{desc}}</p1>
         <p><input type = "text" name = "name" placeholder="name" size=50 value="{{anon}}"/></p>
         <textarea id="body" rows="4" cols="50" placeholder="body" name="body"></textarea>
         <p><input type = "password" name = "password" placeholder="password" size=50 value="{{gen(5)}}"/></p>
         <input type="file" name="file">

         <p1><button class="button" value="upload"><b>SUMBIT</b></p1></button>
      </form>
    </br></br>
      <font size="2">jpeg , jpg , gif , png and webm below the size of <b>4mb</b> is allowed. Read <a href="/rules">Rules</a> before posting </font>
      </center>
   </body>




 <style>
  <body>


*{box-sizing: border-box;}


.right{
    float:right;
}
.left{
    float:left;
}

div.transbox {
  background-color: #f2edeb;
  border: 1px solid black;
  overflow-wrap: break-word;

  max-width: 50%;
     /* For IE8 and earlier */
     

    display: inline;
    display: inline-block;
}

div.transboxx {
  background-color: #F1E0D7;
  border: 1px solid black;
  overflow-wrap: break-word;

  /* For IE8 and earlier */
}

img {
    width:150px;
    
    }


 </head>
</style>
<center><a href="/">Go back to Main Page</a></center></br>
<form action="/{{board}}/_del_" method = "post">

{%for t in threads%}

<div class="background">
  <div class="transboxx">


          <input type="checkbox" name="{{t.id}}" value="THREAD">

          <span class="left">{{t.name}}       No.{{t.id}}</span> <span class="right">{{t.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}</span>

        </br>
        <p>
          <a href="/{{board}}/{{t.id}}"> Reply</a>

        </p>


        <p>

            {%if t.img_num %}
                {%if t.img_ext!="webm" %}
                    <img src="../media/{{board}}{{t.img_num}}.{{t.img_ext}}" alt="{{t.img_name}}" id="{{board}}{{t.img_num}}.{{t.img_ext}}" onclick="zoomzoom('{{board}}{{t.img_num}}.{{t.img_ext}}')"></br><a href="../media/{{board}}{{t.img_num}}.{{t.img_ext}}">
                    {{t.img_name}}</a></br></br>
                {%else%}
                <video width="320" height="240" controls>
  
                  <source src="../media/{{board}}{{t.img_num}}.{{t.img_ext}}" type="video/webm">
  
               </video></br><a href="../media/{{board}}{{t.img_num}}.{{t.img_ext}}">
                    {{t.img_name}}</a></br></br>
                {%endif%}
            {%endif%}
               {{green(t.body , board) | safe}}
        </p>
        <font size="2">
        {%for a in refer.query.filter_by(board=board).filter_by(replied_to=t.id).all()%}
          <a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>
        {%endfor%}
      </font>



   </div>
   </div>

<script type='text/javascript'>
    function zoomzoom(id) {

    if(document.getElementById(id).style.width=="500px"){document.getElementById(id).style.width="150px";}else{document.getElementById(id).style.width="500px"}

    
    }       
</script>


{%for p in Post.query.filter_by(board=board).filter_by(thread_id = t.id).all()[::-1][0:bo.max_posts_displayed][::-1]%}
<span class="left">&gt;&gt;</span>
   <div class="background">
  <div class="transbox">


          <input type="checkbox" name="{{p.id}}" value="POST">

          <span class="left">{{p.name}}    No.{{p.id}}</span> <span class="right">{{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}</span>

        </br>
        <p>

            {%if p.img_num %}
                {%if p.img_ext!="webm" %}
                    <img src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" alt="{{p.img_name}}" id="{{board}}{{p.img_num}}.{{p.img_ext}}" onclick="zoomzoom('{{board}}{{p.img_num}}.{{p.img_ext}}')"></br><a href="../media/{{board}}{{p.img_num}}.{{p.img_ext}}">
                    {{p.img_name}}</a></br></br>
                {%else%}
                <video width="320" height="240" controls>
  
                  <source src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" type="video/webm">
  
               </video></br><a href="../media/{{board}}{{p.img_num}}.{{p.img_ext}}">
                    {{p.img_name}}</a></br></br>
                {%endif%}
            {%endif%}

          {{green(p.body , board) | safe}}</br></p>
          <font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=p.id).all()%}
          <a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>

        {%endfor%}

      </font>




   </div>
   </div>

   {%endfor%}
   <p>       </p>
   {%endfor%}

</br></br>
Delete:
  <input type = "password" name = "password" placeholder="password" size=50/>
           <button class="button" value="upload"><b>SUMBIT</b></button>
</form>

 <center><a href="https://www.github.com/hrik2001/RikChan">RikChan</a></center></body>
