<form action = "/{{board}}" method = "post" enctype=multipart/form-data>
         <body>
         	<center>
        <h1>/{{board}}/</h1>
        <p1>{{desc}}</p1>
         <p><input type = "text" name = "name" placeholder="name" size=50 value="anon"/></p>
         <textarea id="body" rows="4" cols="50" placeholder="body" name="body"></textarea>
         <p><input type = "password" name = "password" placeholder="password" size=50 value="tatt"/></p>
         <input type="file" name="file">

         <p1><button class="button" value="upload"><b>SUMBIT</b></p1></button>
      </form>
      </center>
   </body>




 <style>
  <body>


*{box-sizing: border-box;}


.right{
    float:right;
}
.left{
    float:left;
}

div.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  
   /* For IE8 and earlier */
}

div.transboxx {
  background-color: #e6ffcc;
  border: 1px solid black;
  
  /* For IE8 and earlier */
}




 </head>

{%for t in threads%}
</style>
<div class="background">
  <div class="transboxx">
      
        <body>
        	<h3>
        	<span class="left">{{t.name}}       No.{{t.id}}</span> <span class="right">{{t.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}</span>
        </h3>
        </br>
        <p>
        	<a href="/{{board}}/{{t.id}}"> Reply</a>

        </p>


        <p>
        	
            {%if t.img_num %}
                {%if t.img_ext!="webm" %}
                    <img src="../media/{{board}}{{t.img_num}}.{{t.img_ext}}" alt="gay"></br></br>
                {%endif%}
            {%endif%}
               {{t.body}}
        </p>
        </body>
       

   </div>
   </div> 

{%for p in Post.query.filter_by(board=board).filter_by(thread_id = t.id).all()[::-1][0:2][::-1]%}
   <div class="background">
  <div class="transbox">
      
        <body>
        	<h3>
        	<span class="left">{{p.name}}    No.{{p.id}}</span> <span class="right">{{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}</span>
        </h3>
        </br>
        <p>

            {%if p.img_num %}
                {%if p.img_ext!="webm" %}
                    <img src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" alt="gay"></br></br>
                {%endif%}
            {%endif%}

        	{{p.body}}
        </p>
        </body>
       

   </div>
   </div>

   {%endfor%}
   <p>       </p>
   {%endfor%}

 
