<title>/{{board}}/ - RikChan</title>
<form action = "/{{board}}" method = "post" enctype=multipart/form-data>
         <body>
         	<center>
        <h1>/{{board}}/</h1>
        <p1>{{desc}}</p1>
         <p><input type = "text" name = "name" placeholder="name" size=50 value="anon"/></p>
         <textarea id="body" rows="4" cols="50" placeholder="body" name="body"></textarea>
         <p><input type = "password" name = "password" placeholder="password" size=50 value="{{gen(5)}}"/></p>
         <input type="file" name="file">

         <p1><button class="button" value="upload"><b>SUMBIT</b></p1></button>
      </form>
      </center>
   </body>




 <style>
  <body>


*{box-sizing: border-box;}


.right{
    float:right;
}
.left{
    float:left;
}

div.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  
   /* For IE8 and earlier */
}

div.transboxx {
  background-color: #e6ffcc;
  border: 1px solid black;
  
  /* For IE8 and earlier */
}




 </head>
</style>
<form action="/{{board}}/_del_" method = "post">

{%for t in threads%}

<div class="background">
  <div class="transboxx">
      
        <body>
          <input type="checkbox" name="{{t.id}}" value="THREAD">
        	
        	<span class="left">{{t.name}}       No.{{t.id}}</span> <span class="right">{{t.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}</span>
        
        </br>
        <p>
        	<a href="/{{board}}/{{t.id}}"> Reply</a>

        </p>


        <p>
        	
            {%if t.img_num %}
                {%if t.img_ext!="webm" %}
                    <img src="../media/{{board}}{{t.img_num}}.{{t.img_ext}}" alt="{{t.img_name}}"><br>{{t.img_name}}</br></br>
                {%endif%}
            {%endif%}
               {{t.body}}
        </p>
        </body>
       

   </div>
   </div> 

{%for p in Post.query.filter_by(board=board).filter_by(thread_id = t.id).all()[::-1][0:2][::-1]%}
   <div class="background">
  <div class="transbox">
      
        <body>
          <input type="checkbox" name="{{p.id}}" value="POST">
        	
        	<span class="left">{{p.name}}    No.{{p.id}}</span> <span class="right">{{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}</span>
        
        </br>
        <p>

            {%if p.img_num %}
                {%if p.img_ext!="webm" %}
                    <img src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" alt="{{p.img_name}}"></br>{{p.img_name}}</br></br>
                {%endif%}
            {%endif%}

        	{{p.body}}
        </p>
        </body>
       

   </div>
   </div>

   {%endfor%}
   <p>       </p>
   {%endfor%}

</br></br>
Delete:
  <input type = "password" name = "password" placeholder="password" size=50/>
           <button class="button" value="upload"><b>SUMBIT</b></button>
</form>
 
 <center><a href="https://www.github.com/hrik2001/RikChan">RikChan</a></center>
