<center>
<h1><font size=7>RULES</h1> </font><body style="background-color:#FFFFF0">

 <style>




*{box-sizing: border-box;}



.right{
    float:right;
}
.left{
    float:left;
}


div.transbox {
  background-color: #e8cc9b;
  border: 1px solid black;
  
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


div.transboxx {
  background-color: #F1E0D7;
  border: 1px solid black;

  filter: alpha(opacity=60); /* For IE8 and earlier */
}




 </head>

</style>

<div class="background">
  <div class="transboxx">
      
       <body><font size=5>
        Follow the Indian and the US cyber law. Don't post CP. 
        </font>
        </body>
       

   </div>
   </div> 

</center></body>
