<title>/{{board}}/ - RikChan</title><body style="background-color:#FFFFF0">
<form action = "/{{board}}/{{thread_id}}/" method = "post" enctype=multipart/form-data>
         <body>
          <center>
        <h1>/{{board}}/</h1>
         <p><input type = "text" name = "name" placeholder="name" size=50 value="{{anon}}"/></p>
         <p><input type = "text" name = "options" placeholder="options" size=50/></p>
         <textarea id="body" rows="4" cols="50" placeholder="body" name="body"></textarea>

         <p><input type = "password" name = "password" placeholder="password" size=50 value="{{gen(5)}}"/></p>
            <input type="file" name="file">
         <p1><button class="button"><b>SUMBIT</b></p1></button>
      </form>
      </center>
      </br>
      <center>
      <font size="2">jpeg , jpg , gif , png and webm below the size of <b>4mb</b> is allowed. Read <a href="/rules">Rules</a> before posting </font></center>
      </center>
   </body>


<a href = {{url_for("board_home" , board=board)}}> <font> <center> Go back to {{board}} </center> </font> </a>
</br>
 <style>
  <body>


*{box-sizing: border-box;}



.right{
    float:right;
}
.left{
    float:left;
}

img {
    width:150px;
    
    }
div.transbox {
  background-color: #f2edeb;
  border: 1px solid black;
  overflow-wrap: break-word;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


div.transboxx {
  background-color: #F1E0D7;
  border: 1px solid black;
overflow-wrap: break-word;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}




 </head>

</style>

<script type='text/javascript'>
    function zoomzoom(id) {

    if(document.getElementById(id).style.width=="500px"){document.getElementById(id).style.width="150px";}else{document.getElementById(id).style.width="500px"}

    
    }       
</script>


<form action="/{{board}}/_del_" method = "post">
<div class="background">
  <div class="transboxx">

        <body>
          <input type="checkbox" name="{{thread.id}}" value="THREAD">
         <span class="left">
          {{thread.name}}       No.{{thread.id}}
        </span>
        <span class="right">
        {{thread.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}
        </span>

        </br>
        <p>
            {%if thread.img_num %}
                {%if thread.img_ext!="webm" %}
                    <img src="../media/{{board}}{{thread.img_num}}.{{thread.img_ext}}" alt="{{thread.img_name}}" id="{{board}}{{thread.img_num}}.{{thread.img_ext}}" onclick="zoomzoom('{{board}}{{thread.img_num}}.{{thread.img_ext}}')"></br><a href="../media/{{board}}{{thread.img_num}}.{{thread.img_ext}}">{{thread.img_name}}</a></br></br>
                {%else%}
                <video width="320" height="240" controls>
  
                  <source src="../media/{{board}}{{thread.img_num}}.{{thread.img_ext}}" type="video/webm">
  
               </video></br><a href="../media/{{board}}{{thread.img_num}}.{{thread.img_ext}}">
                    {{thread.img_name}}</a></br></br>
                {%endif%}
            {%endif%}
          {{green(thread.body , board) | safe}}</br></p>
          <font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=thread.id).all()%}
          <a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>
        {%endfor%}
      </font>

        </body>


   </div>
   </div>


{%for p in posts%}
</style>
<div class="background">
  <div class="transbox">

        <body>
           <input type="checkbox" name="{{p.id}}" value="POST">
            <span class="left">
          {{p.name}}       No.{{p.id}}
            </span>
            <span class="right">
            {{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}
            </span>

        </br>
        <p>

            {%if p.img_num %}
                {%if p.img_ext!="webm" %}
                    
                    <img src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" alt="{{p.img_name}}" id="{{board}}{{p.img_num}}.{{p.img_ext}}" onclick="zoomzoom('{{board}}{{p.img_num}}.{{p.img_ext}}')"></br><a href="../media/{{board}}{{p.img_num}}.{{p.img_ext}}">
                    {{p.img_name}}</a></br></br>
                    {%else%}
                <video width="320" height="240" controls>
  
                  <source src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" type="video/webm">
  
               </video></br><a href="../media/{{board}}{{p.img_num}}.{{p.img_ext}}">
                {{p.img_name}}</a></br></br>
                {%endif%}
            {%endif%}
            <section id="{{p.id}}">

          {{green(p.body , board) | safe}}</br></p>
          <font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=p.id).all()%}
          <a href="{{url_maker(a.own_id , board)}}">>>{{a.own_id}}</a>
        {%endfor%}
      </font>

        </body>


   </div>
   </div>
   {%endfor%}

Delete:
  <input type = "password" name = "password" placeholder="password" size=50/>
           <button class="button" value="upload"><b>SUMBIT</b></button>
</form>

 <center><a href="https://www.github.com/hrik2001/RikChan">RikChan</a></center>
</body>

