<title>/{{board}}/ - RikChan</title><body style="background-color:#FFFFF0">
<form action = "/{{board}}/{{thread_id}}" method = "post" enctype=multipart/form-data>
         <body>
         	<center>
        <h1>/{{board}}/</h1>
         <p><input type = "text" name = "name" placeholder="name" size=50 value="anon"/></p>
         <p><input type = "text" name = "options" placeholder="options" size=50/></p>
         <textarea id="body" rows="4" cols="50" placeholder="body" name="body"></textarea>
         
         <p><input type = "password" name = "password" placeholder="password" size=50 value="{{gen(5)}}"/></p>
            <input type="file" name="file">
         <p1><button class="button"><b>SUMBIT</b></p1></button>
      </form>
      </center>
   </body>


<a href = {{url_for("board_home" , board=board)}}> <font> <center> Go back to {{board}} </center> </font> </a>
</br>
 <style>
  <body>


*{box-sizing: border-box;}



.right{
    float:right;
}
.left{
    float:left;
}


div.transbox {
  background-color: #f2edeb;
  border: 1px solid black;
  
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


div.transboxx {
  background-color: #F1E0D7;
  border: 1px solid black;

  filter: alpha(opacity=60); /* For IE8 and earlier */
}




 </head>

</style>
<form action="/{{board}}/_del_" method = "post">
<div class="background">
  <div class="transboxx">
      
        <body>
          <input type="checkbox" name="{{thread.id}}" value="THREAD">
         <span class="left">
          {{thread.name}}       No.{{thread.id}}
        </span>
        <span class="right">
        {{thread.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}
        </span>
        
        </br>
        <p>
            {%if thread.img_num %}
                {%if thread.img_ext!="webm" %}
                    <img src="../media/{{board}}{{thread.img_num}}.{{thread.img_ext}}" alt="{{thread.img_name}}"></br>{{thread.img_name}}</br></br>
                {%endif%}
            {%endif%}
          {{thread.body | safe}}</br></p>
          <font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=thread.id).all()%}
          >>{{a.own_id}}
        {%endfor%}
      </font>
        
        </body>
       

   </div>
   </div> 


{%for p in posts%}
</style>
<div class="background">
  <div class="transbox">
      
        <body>
        	 <input type="checkbox" name="{{p.id}}" value="POST">
            <span class="left">
        	{{p.name}}       No.{{p.id}}
            </span>
            <span class="right">
            {{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}
            </span>
        
        </br>
        <p>

            {%if p.img_num %}
                {%if p.img_ext!="webm" %}
                    <img src="../media/{{board}}{{p.img_num}}.{{p.img_ext}}" alt="{{p.img_name}}"></br>{{p.img_name}}</br></br>
                {%endif%}
            {%endif%}

        	{{p.body | safe}}</br></p>
          <font size="2">
          {%for a in refer.query.filter_by(board=board).filter_by(replied_to=p.id).all()%}
          >>{{a.own_id}}
        {%endfor%}
      </font>
        
        </body>
       

   </div>
   </div>   
   {%endfor%}

Delete:
  <input type = "password" name = "password" placeholder="password" size=50/>
           <button class="button" value="upload"><b>SUMBIT</b></button>
</form>
 
 <center><a href="https://www.github.com/hrik2001/RikChan">RikChan</a></center>
</body>
 
