<form action = "http://localhost:5000/{{board}}/{{thread_id}}" method = "post">
         <body>
         	<center>
        <h1>/{{board}}/</h1>
         <p><input type = "text" name = "name" placeholder="name" size=50 value="anon"/></p>
         <textarea id="body" rows="4" cols="50" placeholder="body" name="body"></textarea>
         <p><input type = "password" name = "password" placeholder="password" size=50 value="anon"/></p>

         <p1><button class="button"><b>SUMBIT</b></p1></button>
      </form>
      </center>
   </body>


<a href = {{url_for("board_home" , board=board)}}> <font> <center> Go back to {{board}} </center> </font> </a>
</br>
 <style>
  <body>


*{box-sizing: border-box;}



.right{
    float:right;
}
.left{
    float:left;
}


div.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


div.transboxx {
  background-color: #e6ffcc;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}




 </head>

</style>
<div class="background">
  <div class="transboxx">
      
        <body>
          <h3>
         <span class="left">
          {{thread.name}}       No.{{thread.id}}
        </span>
        <span class="right">
        {{thread.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}
        </span>
        </h3>
        </br>
        <p>
          {{thread.body}}
        </p>
        </body>
       

   </div>
   </div> 


{%for p in posts%}
</style>
<div class="background">
  <div class="transbox">
      
        <body>
        	<h3>
            <span class="left">
        	{{p.name}}       No.{{p.id}}
            </span>
            <span class="right">
            {{p.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}
            </span>
        </h3>
        </br>
        <p>
        	{{p.body}}
        </p>
        </body>
       

   </div>
   </div>   
   {%endfor%}

 
